In [5]:
import csv
import random

# Defining categories and their respective brands
categories = {
    "Videojuegos": ["Sony", "Microsoft", "Nintendo", "Ubisoft", "EA"],
    "Telefonía": ["Apple", "Samsung", "Huawei", "Xiaomi", "Nokia"],
    "Suplementos alimenticios": ["Optimum Nutrition", "MuscleTech", "Dymatize", "BSN", "GNC"],
    "Ropa": ["Nike", "Adidas", "Puma", "Under Armour", "H&M"],
    "Skin Care": ["L'Oréal", "Neutrogena", "Olay", "Clinique", "Nivea"],
    "Calzado": ["Nike", "Adidas", "Reebok", "Puma", "Skechers"],
    "Computadoras": ["Dell", "HP", "Apple", "Asus", "Acer"]
}

# Sample products for each category
products = {
    "Videojuegos": ["Console", "Game", "Controller", "Headset", "VR Headset"],
    "Telefonía": ["Smartphone", "Tablet", "Smartwatch", "Charger", "Earbuds"],
    "Suplementos alimenticios": ["Protein Powder", "BCAA", "Pre-Workout", "Creatine", "Vitamins"],
    "Ropa": ["T-Shirt", "Jacket", "Pants", "Shorts", "Sweater"],
    "Skin Care": ["Moisturizer", "Cleanser", "Toner", "Sunscreen", "Serum"],
    "Calzado": ["Running Shoes", "Sneakers", "Boots", "Sandals", "Slippers"],
    "Computadoras": ["Laptop", "Desktop", "Monitor", "Keyboard", "Mouse"]
}

# Sample countries for product manufacturing
countries = ["USA", "China", "Germany", "Japan", "South Korea", "India"]

# Function to generate random products
def generate_products():
    rows = []
    index = 0
    for category, brands in categories.items():
        for brand in brands:
            num_products = random.randint(8, 15)
            for _ in range(num_products):
                prod_index = 'PROD' + str(1000+index)
                index += 1
                product_name = f"{brand} {random.choice(products[category])}"
                price = round(random.uniform(10.0, 1000.0), 2)
                country = random.choice(countries)
                rating = round(random.uniform(1.0, 5.0), 2)
                cantidad = random.randint(100, 500)
                rows.append([prod_index,product_name, price, brand, 
                             country, category, rating
                             , cantidad
                             ])
    return rows

# Generating product data
product_data = generate_products()

# Column headers
headers = ["id_producto","nombre", "precio", "marca", "pais_fabricacion", "categoria", "puntuacion_media","cantidad"]

# Writing to CSV
csv_file_path = "ecommerce_products.csv"
with open(csv_file_path, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(headers)
    writer.writerows(product_data)

csv_file_path

'ecommerce_products.csv'

In [6]:
import pandas as pd

ecom = pd.read_csv('ecommerce_products.csv')#.drop('Unnamed: 0',axis=1)#.drop('Unnamed: 0.1',axis=1)
ecom.head()

,id_producto,nombre,precio,marca,pais_fabricacion,categoria,puntuacion_media,cantidad
0,PROD1000,Sony Controller,959.83,Sony,India,Videojuegos,4.52,259
1,PROD1001,Sony Controller,787.30,Sony,South Korea,Videojuegos,4.38,359
2,PROD1002,Sony Console,109.50,Sony,India,Videojuegos,3.84,171
3,PROD1003,Sony Game,836.99,Sony,India,Videojuegos,1.24,333
4,PROD1004,Sony Headset,826.28,Sony,Japan,Videojuegos,1.47,354

In [7]:
ecom.groupby('categoria').count()

,id_producto,nombre,precio,marca,pais_fabricacion,puntuacion_media,cantidad
categoria,,,,,,,
Calzado,51,51,51,51,51,51,51
Computadoras,55,55,55,55,55,55,55
Ropa,62,62,62,62,62,62,62
Skin Care,56,56,56,56,56,56,56
Suplementos alimenticios,60,60,60,60,60,60,60
Telefonía,54,54,54,54,54,54,54
Videojuegos,58,58,58,58,58,58,58

In [8]:
ecom.to_csv('ecommerce_products.csv',index=False)

# Guardando los datos para Postgress

In [10]:
ecom[['id_producto','cantidad']].to_csv('datos_postgres.csv',index=False)